
*::-webkit-scrollbar {
    display: none;
    
}
.main-container{
    padding-bottom: 0;
    overflow-y: auto;
    padding: 0px;
}

.logo>a>img{
    width: 6.5rem; 
    padding-left:1rem;
 }
 .playlist-details{
   
    margin:1rem;
    display: flex;
    justify-content: start;
 }
 .detail{
    
    margin: 1rem;
    display: flex;
    flex-direction: column ;
 }
.circle{
    height: 0.2rem;
    width: 0.2 rem;
    margin-inline: 0.5rem;
}
.play-button{
 display: flex;
 align-items: center;;
}
.play-button>img{
    margin-inline: 1rem;
   
}
.horizontal-line{
    margin-top: 2rem;
}
.heading-sticky{
    display:inline-block;
    position: sticky;
    top:0px;
}
.heading {
    
    top: 600px;
    left : 0px;
    display: flex;
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    height: 60px;
   padding: 0.5rem;
    z-index: 2;
    background-color: gray;

}

.heading>.title {
    flex: 0.45;
    min-width:200px;
}

.heading>.album {
    
    flex: 0.2;
}
.heading>.date{
    flex: 0.2;
}
.heading>.time{
    flex:0.15;
}

 
 .playlist {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin-top: 2rem;
    margin-bottom: 10px;
    padding: 2rem;
    
 }
 
 
.song{
    width: 100%;
    margin: 0.5rem;
    display: flex;
    flex: 1;
    align-items : center;
    height: 90px;
    border-radius: .5rem;
    padding-inline: 1rem;
 }
 .song:hover{
    background-color: rgba(192,192,192, 0.6);
    transition: all 0.1s;
   
 }
 .title{
 flex:0.45;
 display: flex;
 align-items: center;

 }
 .serial{
    margin-right: 1rem;
 }
 .album{
flex: 0.2
 }

 .date{
flex: 0.2;
 }
 .time{
   flex:.15;
   display: flex;
justify-content: center;;
   align-items: center;
 }
 .time>i{
    padding-inline: 2rem;;
 }
 
 .song-cover>img{
 width: 5rem;
 }